!!!
%html
  %head
    %title Peek-a-Rails
    = stylesheet_link_tag    "peekarails/application", media: "all"
    = javascript_include_tag "peekarails/application"
    = csrf_meta_tags

  %body
    %header.navbar.navbar-default.navbar-inverse.navbar-static-top{role: 'navigation'}
      .container
        .navbar-header
          %button.navbar-toggle{type: "button", data: {toggle: "collapse", target: "#bs-navbar-collapse"}}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar

        #bs-navbar-collapse.navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li{class: controller_name == 'requests' ? 'active' : ''}
              = link_to 'Requests', requests_path(granularity: @granularity_key)
            %li{class: controller_name == 'database' ? 'active' : ''}
              = link_to 'Database', '#'
            %li{class: controller_name == 'systems' ? 'active' : ''}
              = link_to 'System', system_path(granularity: @granularity_key)

          %ul.nav.navbar-nav.navbar-right

            %li
              .btn-group.navbar-btn
                %button.btn.btn-info.dropdown-toggle{type: 'button', data: {toggle: 'dropdown'}}
                  = @granularity[:name]
                  %b.caret

                %ul.dropdown-menu
                  - Peekarails::Metrics::GRANULARITIES.each do |key, granularity|
                    %li= link_to granularity[:name], url_for(only_path: false, granularity: key)


    = yield

    %footer

