.container
  .row
    .col-md-6
      %h4.page-header Requests per Minute

      #throughput-graph
        .graph
        .slider

      %h4.page-header Average Response Time

      #response-graph
        .graph
        .slider

      %h4.page-header Status

      #status-graph
        .graph
        .slider

    .col-md-6
      %h4.page-header Breakdown

      %table.table.table-condensed
        %thead
          %tr
            %th Controller#Action
            %th Requests

        %tbody
          - @actions.take(20).each do |action|
            %tr
              %td= action[:name]
              %td= action[:total]

      - if @actions.count > 20
        %p.text-muted= "#{@actions.count - 20} more..."

:coffeescript

  palette = new Rickshaw.Color.Palette { scheme: 'spectrum14' }

  count = #{@total_minutes_json}
  duration = #{@total_duration_json}
  status = #{@total_status_json}

  view_duration = #{@total_view_duration}
  db_duration = #{@total_db_duration}
  other_duration = #{@total_other_duration}

  duration_parts = [
    { "name": "View", "data": view_duration },
    { "name": "DB", "data": db_duration },
    { "name": "Other", "data": other_duration },
  ]

  renderSingleGraph('Requests', count, palette.color(), 'bar', '#throughput-graph')

  renderMultiGraph(duration_parts, '#response-graph')
  renderMultiGraph(status, '#status-graph')

